<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.hostmytables.com">
                        HostMyTables
                    </a>
                </li>
                <li>
                    <a href="https://hostmytables.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.hostmytables.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.hostmytables.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="https://www.hostmytables.com" target="_blank">HostMyTables</a>.
        </div>
    </div>
</footer>
