<h1 mat-dialog-title *ngIf="ADD">Add Reservation</h1>
<div mat-dialog-content *ngIf="ADD">
  <!-- <p>What's your favorite animal?</p> -->
  <form #myForm="ngForm" [formGroup]="addReserveForm">
<div class="form-group">
  <div class="row">
     <!--  <div class="col-md-1">
          <mat-form-field class="example-full-width">
              <mat-select formControlName="title" placeholder="Title" name="title">
                  <mat-option *ngFor="let title of titles" [value]="title.id">
                    {{title.value}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          </div> -->
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
            <input matInput  formControlName="name" autocomplete="off"  placeholder="Name" (keyup)="search(name.value)" value="">
           </mat-form-field>
          <div >
              <div  *ngFor="let customer of customers | async"
                   (click)="selectCustomer(customer)" class="search-result">
                  {{customer.name}}
              </div>
          </div>
          <!-- <div *ngIf="(name.invalid && (name.dirty || name.touched))" class="alert alert-danger h-25 d-inline-block px-3 py-1">
              <div class="" *ngIf="name.errors.required"><small>Select Name</small></div>
              
          </div> -->
      </div>
      <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="lastname" autocomplete="off" placeholder="last name" value="">
          </mat-form-field>
      </div>
     <!--  <div class="col-md-2">
          <mat-form-field class="example-full-width">
              <mat-select formControlName="code" placeholder="Country Code" name="code">
                  <mat-option *ngFor="let code of codes" [value]="code.value">
                    {{code.desc}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          </div> -->
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="phone" minlength="8" autocomplete="off" placeholder="Phone">
          </mat-form-field>
          <!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
              <div class="" *ngIf="phone.errors.required"><small>Select Phone</small></div>
              <div *ngIf="phone.errors.minlength"><small> Phone must be at least 8 characters</small></div>
              
          </div>  -->
      </div>
      <div class="col-md-1">
          <button mat-raised-button (click)="openAddGDialog()" class="btn btn-danger btn-round btn-just-icon m-1" matTooltip="Add a guest" >
              <i class="material-icons">add</i>
              <div class="ripple-container"></div>
          </button>
         
      </div>
      </div>
   <div class="row">
      <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="notes" autocomplete="off" placeholder="notes">
          </mat-form-field>
      </div>
   </div>
   
  <div class="row">
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-select formControlName="floor" placeholder="Floor"  name="Floor" (selectionChange)="getSections($event.value)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let floor of floors" [value]="floor.id">
                  {{floor.floor_name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <!-- <div *ngIf="floor.invalid && (floor.dirty || floor.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
              <div class="" *ngIf="floor.errors.required"><small>Select Floor</small></div>
              
          </div>  -->
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width" *ngIf="floorSet">
            <mat-select formControlName="section" placeholder="Section"  name="Section" (selectionChange)="getTables($event.value)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let section of sections" [value]="section.id">
                  {{section.section_name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
         <!--  <div *ngIf="section.invalid && (section.dirty || section.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
              <div class="" *ngIf="section.errors.required"><small>Select Section</small></div>
              
          </div>  -->
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width" *ngIf="sectionSet" >
              <mat-select formControlName="table" placeholder="Table" name="Table" (selectionChange)="setGuests($event.value)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let table of tables; let i = index" [value]="i">
                    {{table.table_name}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <!-- <div *ngIf="table.invalid && (table.dirty || table.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
              <div class="" *ngIf="table.errors.required"><small>Select Table</small></div>
              
          </div>  -->
      </div>
      <div class="col-md-3"> 
      
    <mat-form-field class="example-full-width" *ngIf="tableSet">
      <mat-select formControlName="guestsNumber" placeholder="Number Of Guests" name="guestsNumber">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let item of arrayOne(guestsNum); let i = index" [value]="i + 1">
            {{i + 1}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <div *ngIf="guestsNumber.invalid && (guestsNumber.dirty || guestsNumber.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
          <div class="" *ngIf="guestsNumber.errors.required"><small>Select Number</small></div>
          
      </div>  -->
      </div>

  </div>
  <div class="row">
    
      <div class="col-md-4">
        
        <mat-form-field class="example-full-width">
            <input formControlName="date" matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="Choose a date"  [value]="odate.value"
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <!-- <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
            <div class="" *ngIf="date.errors.required"><small>Select Date</small></div>
            
        </div>  -->

      </div>
      <div class="col-md-4">
          <input matInput formControlName="time" autocomplete="off" placeholder="Time" type="text" hidden>
            <material-timepicker color="primary" label="Hour" [userTime]="exportTime" (change)="onChangeHour($event)" revertLabel="Remove" submitLabel="Ok"></material-timepicker>
            <!-- <div *ngIf="time.invalid && (time.dirty || time.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                <div class="" *ngIf="time.errors.required"><small>Select Time</small></div>
                
            </div>  -->
          </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <input matInput formControlName="duration" autocomplete="off" placeholder="Duration" type="number">
            </mat-form-field>
          </div>
      
      
  </div>
  <div class="row">
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <mat-select formControlName="waiter" placeholder="Waiter" name="waiter">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let waiter of waiters" [value]="waiter.id">
                    {{waiter.name}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <!-- <div *ngIf="waiter.invalid && (waiter.dirty || waiter.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
              <div class="" *ngIf="waiter.errors.required"><small>Select Waiter</small></div>
              
          </div>  -->
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <input matInput formControlName="minimumSpent" autocomplete="off" placeholder="Minimum Spent">
            </mat-form-field>
        </div>
    
</div>
  <!-- <mat-form-field><input matInput [(ngModel)]="data.name"></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="data.notes"></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="data.section"></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="data.minimunSpent"></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="data.waiter"></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="data.date"></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="data.duration"></mat-form-field> 
  <mat-form-field><input matInput [(ngModel)]="data.guestsNumber"></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="data.table"></mat-form-field> -->
<div mat-dialog-actions class="float-right">
  <button mat-button (click)="onNoClick()" class="btn btn-danger pull-right">Cancel</button>
  <button mat-button (click)="addReservation(addReserveForm.value)" cdkFocusInitial class="btn btn-danger pull-right">{{data.type}}</button>
</div>
</div>
</form>
</div>

<h1 mat-dialog-title *ngIf="!ADD">Edit Reservation</h1>
<div mat-dialog-content *ngIf="!ADD">
<form #myForm="ngForm" [formGroup]="addReserveForm">
    <div class="form-group">
      <div class="row">
         <!--  <div class="col-md-1">
              <mat-form-field class="example-full-width">
                  <mat-select formControlName="title" placeholder="Title" name="title">
                      <mat-option *ngFor="let title of titles" [value]="title.id">
                        {{title.value}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              </div> -->
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <input matInput  formControlName="name" autocomplete="off"  placeholder="Name" (keyup)="search(name.value)" value="{{data.customer.name}}">
               </mat-form-field>
              <div >
                  <div  *ngFor="let customer of customers | async"
                       (click)="selectCustomer(customer)" class="search-result">
                      {{customer.name}}
                  </div>
              </div>
              <!-- <div *ngIf="(name.invalid && (name.dirty || name.touched))" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                  <div class="" *ngIf="name.errors.required"><small>Select Name</small></div>
                  
              </div> -->
          </div>
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="lastname" autocomplete="off" placeholder="last name" value="{{data.customer.lastname}}">
              </mat-form-field>
          </div>
         <!--  <div class="col-md-2">
              <mat-form-field class="example-full-width">
                  <mat-select formControlName="code" placeholder="Country Code" name="code">
                      <mat-option *ngFor="let code of codes" [value]="code.value">
                        {{code.desc}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              </div> -->
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="phone" minlength="8" autocomplete="off" placeholder="Phone" value="{{data.customer.phone}}">
              </mat-form-field>
              <!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                  <div class="" *ngIf="phone.errors.required"><small>Select Phone</small></div>
                  <div *ngIf="phone.errors.minlength"><small> Phone must be at least 8 characters</small></div>
                  
              </div>  -->
          </div>
         <!--  <div class="col-md-1">
              <button mat-raised-button (click)="openAddGDialog()" class="btn btn-danger btn-round btn-just-icon m-1" matTooltip="Add a guest" >
                  <i class="material-icons">add</i>
                  <div class="ripple-container"></div>
              </button>
             
          </div> -->
          </div>
       <div class="row">
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="notes" autocomplete="off" placeholder="notes" value="{{data.occupy.notes}}">
              </mat-form-field>
          </div>
       </div>
       
      <div class="row">
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-select formControlName="floor" placeholder="Floor"  name="Floor" (selectionChange)="getSections($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let floor of floors" [value]="floor.id">
                      {{floor.floor_name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <!-- <div *ngIf="floor.invalid && (floor.dirty || floor.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                  <div class="" *ngIf="floor.errors.required"><small>Select Floor</small></div>
                  
              </div>  -->
          </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width" *ngIf="floorSet">
                <mat-select formControlName="section" placeholder="Section"  name="Section" (selectionChange)="getTables($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let section of sections" [value]="section.id">
                      {{section.section_name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
             <!--  <div *ngIf="section.invalid && (section.dirty || section.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                  <div class="" *ngIf="section.errors.required"><small>Select Section</small></div>
                  
              </div>  -->
          </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width" *ngIf="sectionSet" >
                  <mat-select formControlName="table" placeholder="Table" name="Table" (selectionChange)="setGuests($event.value)">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let table of tables; let i = index" [value]="i">
                        {{table.table_name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <!-- <div *ngIf="table.invalid && (table.dirty || table.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                  <div class="" *ngIf="table.errors.required"><small>Select Table</small></div>
                  
              </div>  -->
          </div>
          <div class="col-md-3"> 
          
        <mat-form-field class="example-full-width" *ngIf="tableSet">
          <mat-select formControlName="guestsNumber" placeholder="Number Of Guests" name="guestsNumber">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of arrayOne(guestsNum); let i = index" [value]="i + 1">
                {{i + 1}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div *ngIf="guestsNumber.invalid && (guestsNumber.dirty || guestsNumber.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
              <div class="" *ngIf="guestsNumber.errors.required"><small>Select Number</small></div>
              
          </div>  -->
          </div>
    
      </div>
      <div class="row">
        
          <div class="col-md-4">
            
            <mat-form-field>
                <input formControlName="date" matInput  [matDatepicker]="picker" placeholder="Choose a date"  value="{{odate.value}}"
                (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-error *ngIf="date.invalid">
                    <div *ngFor="let error of getErrors(date)">
                      - {{ error }}
                    </div>
                  </mat-error>
            </mat-form-field>
            <!-- <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                <div class="" *ngIf="date.errors.required"><small>Select Date</small></div>
                
            </div>  -->
    
          </div>
          <div class="col-md-4">
              <input matInput formControlName="time" autocomplete="off" placeholder="Time" type="text" hidden>
                <material-timepicker color="primary" label="Hour" [userTime]="exportTime" (change)="onChangeHour($event)" revertLabel="Remove" submitLabel="Ok" value="{{data.occupy.time}}"></material-timepicker>
                <!-- <div *ngIf="time.invalid && (time.dirty || time.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                    <div class="" *ngIf="time.errors.required"><small>Select Time</small></div>
                    
                </div>  -->
              </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <input matInput formControlName="duration" autocomplete="off" placeholder="Duration" type="number" value="{{data.occupy.duration}}">
                </mat-form-field>
              </div>
          
          
      </div>
      <div class="row">
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <mat-select formControlName="waiter" placeholder="Waiter" name="waiter">
                      <mat-option [value] = "0" >None</mat-option>
                      <mat-option *ngFor="let waiter of waiters" [value]="waiter.id">
                        {{waiter.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <!-- <div *ngIf="waiter.invalid && (waiter.dirty || waiter.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                  <div class="" *ngIf="waiter.errors.required"><small>Select Waiter</small></div>
                  
              </div>  -->
          </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <input matInput formControlName="minimumSpent" autocomplete="off" placeholder="Minimum Spent" value="{{data.occupy.minimum_spent}}">
                </mat-form-field>
            </div>
        
    </div>
      <!-- <mat-form-field><input matInput [(ngModel)]="data.name"></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="data.notes"></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="data.section"></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="data.minimunSpent"></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="data.waiter"></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="data.date"></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="data.duration"></mat-form-field> 
      <mat-form-field><input matInput [(ngModel)]="data.guestsNumber"></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="data.table"></mat-form-field> -->
    <div mat-dialog-actions class="float-right">
      <button mat-button (click)="onNoClick()" class="btn btn-danger pull-right">Cancel</button>
      <button mat-button (click)="editReservation(addReserveForm.value)" cdkFocusInitial class="btn btn-danger pull-right">{{data.type}}</button>
    </div>
    </div>
    </form>
    </div>