<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <div class="row">
                          <div class="col-md-6">
                      <h4 class="card-title mt-0">Reservations</h4>
                      <p class="card-category">Date: {{ getDate() | date }}</p>
                      </div>
                      <div class="col-md-6">
                        <div class="float-right">
                          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon m-1" matTooltip="Add a walk in" >
                              <i class="material-icons">directions_walk</i>
                              <div class="ripple-container"></div>
                          </button>
                      <button mat-raised-button type="submit" (click)="openAddDialog()" class="btn btn-white btn-round btn-just-icon m-1" matTooltip="Add a reservation" >
                        <i class="material-icons">add</i>
                        <div class="ripple-container"></div>
                    </button>
                  </div>
                  </div>
                    </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Time
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Type
                                  </th>
                                  <th>
                                      Phone
                                  </th>
                                  <th>
                                      Guests
                                  </th>
                                  <th>
                                        Notes
                                    </th>
                                  <th>
                                        Table
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let occ of occupy">
                                      <td>
                                          {{occ.time}}
                                      </td>
                                      <td>
                                            {{occ.customer_name}}
                                      </td>
                                      <td>
                                            {{occ.type}}|{{occ.status}}
                                      </td>
                                      <td>
                                            {{occ.customer_phone}}
                                      </td>
                                      <td>
                                            {{occ.guests_number}}/{{occ.table_max_chairs}}
                                      </td>
                                      <td>
                                            {{occ.notes}}
                                        </td>
                                        <td>
                                             {{occ.table_number}}
                                        </td>
                                        <td><button mat-raised-button type="submit" (click)="deleteReservation(occ)" class="btn btn-white btn-round btn-just-icon m-1 float-right" matTooltip="Delete reservation" >
                                                <i class="material-icons">delete</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon m-1 float-right" matTooltip="Edit reservation" >
                                                <i class="material-icons">edit</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                            </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
